server:
  port: 8082

spring:
  application:
    name: movie-service

  datasource:
    url: jdbc:postgresql://localhost:5432/movie_service_db
    username: postgres
    password: Vikash@#123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true